<!DOCTYPE html>
<html>
<head>
  <title>DragsterApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Lemon' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- temporarily removed devise login buttons and alerts and notices. restore via git -->

<%= yield %>

<% if Rails.env.production? %>
  <!-- adsense -->
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- portfolio_ad -->
  <ins class="adsbygoogle"
  style="display:inline-block;width:320px;height:50px"
  data-ad-client="ca-pub-3774443777675026"
  data-ad-slot="7911437792"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
<% end %>

<!-- load google google analytics from application_helper.rb -->
<!-- http://subratrout.com/blog/adding-google-analytics-to-a-rails-app/ -->
<% if Rails.env.production? %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-54520212-1', 'auto');
    ga('send', 'pageview');
  </script>
<% end %>

</body>
</html>
